<h2>My Heroes</h2>

<div>
  <form [formGroup]="heroForm">
    <label>Hero name:
      <input formControlName="name" placeholder="Enter name"/>
    </label>
    <label> Avatar:
      <input formControlName="avatar" placeholder="Link avatar"/>
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(heroForm.value)">
      add
    </button>
  </form>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span>
      <img [src]="hero.avatar">
      {{hero.name}}
    </a>
    <button class="delete" title="delete hero"
      (click)="delete(hero)">x</button>
  </li>
</ul>
